.box-product-item {
  width: calc((100% - 4rem) / 5);
  margin-bottom: 1rem;
  position: relative;
  display: block;
  background-color: #ffffff;
  box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  border-radius: 1rem;
  transition: 0.3s;
}

.box-product-item:not(:nth-of-type(5n)) {
  margin-right: 1rem;
}

.box-product-item:hover {
  transform: scale(1.03);
}