.admin-product-form .css-1q9zyls-MuiInputBase-root-MuiFilledInput-root,
.admin-product-form .css-49s959-MuiInputBase-root-MuiFilledInput-root {
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.admin-product-form .css-1q9zyls-MuiInputBase-root-MuiFilledInput-root::before,
.admin-product-form .css-1q9zyls-MuiInputBase-root-MuiFilledInput-root::after,
.admin-product-form .css-49s959-MuiInputBase-root-MuiFilledInput-root::before,
.admin-product-form .css-49s959-MuiInputBase-root-MuiFilledInput-root::after {
    content: none;
}

.admin-product-form .css-10botns-MuiInputBase-input-MuiFilledInput-input,
.admin-product-form .css-1gctnaj-MuiInputBase-input-MuiFilledInput-input {
    padding-top: 12px;
}

.admin-product-form .MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.css-49s959-MuiInputBase-root-MuiFilledInput-root {
    padding-top: 5px;
}

.admin-product-form .css-1q9zyls-MuiInputBase-root-MuiFilledInput-root.Mui-disabled:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.admin-product-form .css-1q9zyls-MuiInputBase-root-MuiFilledInput-root:hover,
.admin-product-form .css-49s959-MuiInputBase-root-MuiFilledInput-root:hover,
.admin-product-form .css-49s959-MuiInputBase-root-MuiFilledInput-root.Mui-focused,
.admin-product-form .css-1q9zyls-MuiInputBase-root-MuiFilledInput-root.Mui-focused {
    background-color: #ffffff;
}

.css-319lph-ValueContainer {
    padding: 12px 8px !important;
}

.css-6j8wv5-Input,
.css-1pndypt-Input {
    margin: 0 !important;
    padding: 0 !important;
}

.css-1s2u09g-control,
select:focus,
.css-1pahdxg-control,
.css-1pahdxg-control:hover {
    border: none !important;
}

.css-1pahdxg-control {
    box-shadow: none !important;
}

.css-9gakcf-option,
.css-1n7v3ny-option {
    background-color: rgba(255, 87, 106, 0.18) !important;
    color: #D70018 !important;
}

.css-19e7btl-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    color: #ffffff !important;
}

.form-control-custom.form-control,
.admin-product-form .form-control {
    border: none !important;
    padding: 12px 8px !important;
}