.css-z7hxd6-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #ff0000 !important;
}

.css-112dm3x-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: rgba(255, 87, 106, 0.18) !important;
}

.css-3i4pxc-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #d70018 !important;
}

.css-1pwzyke-MuiFormLabel-root.Mui-focused {
  color: #d70018 !important;
}
