.css-1qitv44-MuiChip-root {
  border: 1px solid #e5e7eb !important;
  border-radius: 0.5rem !important;
  background: #f3f4f6;
  color: #232b33 !important;
  height: 34px !important;
  font-weight: 600;
}
