.swal2-container {
  z-index: 9999 !important;
}

.swal2-popup,
.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel {
  font-family: 'Quicksand', sans-serif !important;
}
.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
