@import './react-bootstrap.min.css';
@import './custom-react-bootstrap.css';
@import './quicksand.css';
@import './styles.css';
@import './custom-mui.css';
@import './flex.css';
@import './spacing.css';
@import './color.css';
@import './materrial-design-icons.css';
@import './icon.css';
@import './custom-swal.css';
@import './tiptap.css';
@import './details.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #d70018;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #232b33;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

footer,
header,
nav {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.br-8px {
  border-radius: 8px;
}

.authenticate-table-data {
  border: 1px solid #333333;
  text-align: center;
}

.authenticate-tab button {
  font-weight: 700;
  text-transform: none;
}

.authenticate-tab .MuiTabs-indicator {
  background-color: #ff0000 !important;
}

.authenticate-tab button.Mui-selected {
  color: #ff0000 !important;
}

#simple-tabpanel-2 .css-1s2u09g-control,
select:focus,
.css-1pahdxg-control,
.css-1pahdxg-control:hover,
#simple-tabpanel-2 .css-1pahdxg-control {
  border: 1px solid #ced4da !important;
  appearance: none !important;
  border-radius: 0.375rem !important;
}

#simple-tabpanel-2 .css-319lph-ValueContainer {
  padding: 6px 12px !important;
}

.form-control:focus {
  border-color: #ced4da;
}

.form-check {
  padding-left: 0 !important;
}

.form-check .form-check-input {
  margin-left: 0 !important;
}

label.form-check-label {
  margin-left: 8px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ff0000;
  --bs-btn-border-color: #ff0000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ff0000;
  --bs-btn-hover-border-color: #ff0000;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ff0000;
  --bs-btn-active-border-color: #ff0000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ff0000;
  --bs-btn-disabled-border-color: #ff0000;
}

.form-check-input:checked {
  background-color: #ff0000;
  border-color: #ff0000;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
  color: black;
  border-color: #ff0000;
  box-shadow: none;
}

.quantity-picker {
  display: flex !important;
}

.quantity-picker .quantity-modifier {
  font-size: 14px;
}

.quantity-picker .quantity-display {
  font-size: 14px;
  padding: 0;
}
