.bg-icon-cps-3 {
  background: url('../images/icon-cps-3.svg');
}

.bg-icon-cps-4 {
  background: url('../images/icon-cps-4.svg');
}

.bg-icon-cps-29 {
  background: url('../images/icon-cps-29.svg');
}

.bg-icon-cps-30 {
  background: url('../images/icon-cps-30.svg');
}

.bg-icon-cps-123 {
  background: url('../images/icon-cps-123.svg');
}

.bg-icon-cps-220 {
  background: url('../images/icon-cps-220.svg');
}

.bg-icon-cps-380 {
  background: url('../images/icon-cps-380.svg');
}

.bg-icon-cps-610 {
  background: url('../images/icon-cps-610.svg');
}

.bg-icon-cps-845 {
  background: url('../images/icon-cps-845.svg');
}

.bg-icon-cps-promotion {
  background: url('../images/icon-cps-promotion.svg');
}

.bg-icon-cps-tcdm {
  background: url('../images/icon-cps-tcdm.svg');
}

.bg-icon-cps-tech {
  background: url('../images/icon-cps-tech.svg');
}